 body {
      margin: 0;
      font-family: Arial, sans-serif;
      background: linear-gradient(to right, #F06292, #F06292);
      text-align: center;
    }

    h1 {
      padding: 20px;
      color: #fff9f9;
    }

    .dashboard-container {
      position: relative;
      width: 90%;
      margin: auto;
      padding-bottom: 56.25%; /* 16:9 ratio */
      height: 0;
      border-radius: 15px;
      overflow: hidden;
      box-shadow: 0 10px 25px rgba(0,0,0,0.2);
      background: white;
    }

    .dashboard-container iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: none;
    }

    footer {
      margin: 20px;
      color: #555;
      font-size: 14px;
    }
